---
import Picture from '@/components/common/picture.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@/layouts/general.astro';
import { formatDate, readingTime } from '@/utils';

interface Props {
  entry: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const entries = await getCollection('blog');

  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const timeTobeRead = readingTime(entry.body);

const meta = {
  title: entry.data.title,
  description: entry.data.description,
  image: entry.data.image.src,
  keywords: entry.data.keywords,
};
---

<Layout meta={meta}>
  <header class="header">
    <div class="mb-10 group">
      <a
        href="https://twitter.com/Juansereina_"
        target="_blank"
        rel="noreferrer noopener"
        class="flex"
      >
        <Picture
          src="profile.jpg"
          alt="Foto de Juan Sebastian sonriendo"
          imgClass="w-14 rounded-full mr-2"
          trw={100}
        />

        <div>
          <p>Juan Sebastián Reina</p>
          <p class="text-sm group-hover:underline">@Juansereina_</p>
        </div>
      </a>
    </div>
    <h1 class="title mb-2">{entry.data.title}</h1>
    <small class="mb-4">
      <time class="capitalize" datetime={entry.data.publishedAt.toISOString()}>
        {formatDate(entry.data.publishedAt)}
      </time>
      -
      {timeTobeRead} mins de lectura
    </small>
  </header>
  <main>
    <article class="post">
      <Content />
    </article>
  </main>
</Layout>

<style is:global>
  .title {
    @apply text-orange-400 dark:text-cyan-300;
  }

  .post img {
    @apply w-full lg:scale-110 my-6 md:my-8 lg:my-16;
  }

  .header,
  .post h2,
  .post p,
  .post pre {
    @apply mb-6 md:mb-8 lg:mb-10;
  }

  .post > *:last-child {
    @apply m-0;
  }
</style>
