---
import { getCollection } from 'astro:content';
import { readingTime } from '../../utils';
import Layout from '../../layouts/general.astro';
import Card from '../../components/card-blog.astro';

const blogs = await getCollection('blog');
---

<Layout title="Blog">
  <h1 class="mb-4">Blog</h1>
  <ul>
    {
      blogs.map(({ data, slug, body }) => {
        return (
          <Card
            title={data.title}
            alt={data.image.alt}
            src={data.image.src}
            href={`/blog/${slug}`}
            publishedAt={data.publishedAt}
            readingTime={readingTime(body)}
            classes="mb-8"
          />
        );
      })
    }
  </ul>
</Layout>
