---
import { getCollection } from 'astro:content';
import Layout from '../layouts/general.astro';
import Blog from '../components/card-blog.astro';
import Project from '../components/card-project.astro';
import H2 from '../components/common/h2.astro';
import H1 from '../components/common/h1.astro';
import A from '../components/common/a.astro';
import Social from '../components/social.astro';
import { readingTime } from '../utils';

const blogs = await getCollection('blog');
const projects = [
  {
    title: 'Protérmico',
    link: 'https://www.behance.net/gallery/66596359/Protermico-Project',
  },
];
---

<Layout title="Juansereina">
  <main class="mb-8 sm:mb-10">
    <!-- Introduction -->
    <div class="text-white mb-8 sm:mb-10">
      <div
        class="flex gap-1 text-2xl sm:text-4xl lg:sm:text-5xl justify-center md:justify-start mb-4 md:mb-6 lg:mb-8"
      >
        <span>Hola, soy</span>
        <strong>
          <h1>Juansereina</h1>
        </strong>
        👋
      </div>
      <p class="max-w-md mb-4 md:mb-6 lg:mb-8">
        Soy <strong>Web Developer</strong>, aquí comparto algunas ideas sobre
        cosas creativas con código, libros y temas de mi interes 🤪 🍔
      </p>
      <Social />
    </div>
    <!-- End -->
    <!-- Post -->
    <div class="flex items-baseline">
      <H2
        text="Últimos"
        strongText="Posts"
        classes="flex flex-1 mb-4 md:mb-6 lg:mb-8"
      />
      <A href="/blog/es">
        <span class="text-white">
          Ver todos
          <i class="fa-solid fa-circle-arrow-right text-sm"></i>
        </span>
      </A>
    </div>
    <ul class="grid sm:grid-cols-3 mb-8 sm:mb-10 gap-4">
      {
        blogs
          .filter((_, index) => index < 3)
          .map(({ data, slug, body }) => {
            return (
              <Blog
                title={data.title}
                alt={data.image.alt}
                src={data.image.src}
                href={`/blog/${slug}`}
                publishedAt={data.publishedAt}
                readingTime={readingTime(body)}
              />
            );
          })
      }
    </ul>
    <!-- End -->
    <!-- Projects -->
    <div class="2">
      <H2 text="Más recientes" strongText="Proyectos" classes="flex flex-1" />
    </div>
    <ul class="mt-4 flex flex-col gap-1">
      {projects.map(({ title, link }) => <Project title={title} href={link} />)}
    </ul>
    <!-- End -->
  </main>
</Layout>
