---
import { formatDate } from '../utils/date';
export interface Props {
  title: string;
  href: string;
  src: string;
  alt: string;
  readingTime: number;
  publishedAt: Date;
  classes?: string;
}

const { href, title, src, alt, publishedAt, readingTime, classes } =
  Astro.props;
---

<li class={`flex-1 text-gray-400 group ${classes}`}>
  <a href={href} class="w-full text-sm sm:text-base">
    <img class="w-full mb-2 border border-gray-700" src={src} alt={alt} />
    <time class="capitalize" datetime={publishedAt.toISOString()}
      >{formatDate(publishedAt)}</time
    >
    <span>— {readingTime} mins de lectura</span>
    <h3 class="mt-2 group-hover:underline decoration-cyan-300">
      {title}
    </h3>
  </a>
</li>
