---
import { formatDate, getLanguageFromURL } from '@/utils';
import Picture from './common/picture.astro';
import type { Props as SourceProps } from './common/source.astro';

export interface Props {
  title: string;
  href: string;
  src: string;
  sources: SourceProps[];
  alt: string;
  readingTime: number;
  publishedAt: Date;
  classes?: string;
}

const { href, title, src, alt, publishedAt, readingTime, classes, sources } =
  Astro.props;

const lang = getLanguageFromURL(Astro.url.pathname);
---

<li class={`flex-1 group ${classes}`}>
  <a href={href} class="w-full text-sm sm:text-base">
    <Picture
      picClass="mb-2"
      imgClass="w-full"
      src={src}
      alt={alt}
      trw={650}
      sources={sources}
    />

    <small>
      <time class="capitalize" datetime={publishedAt.toISOString()}
        >{formatDate(publishedAt, lang)}</time
      >
      <span>— {readingTime} mins de lectura</span>
    </small>
    <h3 class="mt-2 group-hover:underline">
      {title}
    </h3>
  </a>
</li>
