---
import Layout from '@/layouts/general.astro';
import projects from '@/data/projects.json';

const meta = {
  title: 'Proyectos - Juan Sebastián Reina 👨‍💻',
  description: 'Proyectos a los que estoy dedicando tiempo actualmente',
  keywords: 'Web development, HTML, CSS, TypeScript, JavaScript',
};

export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }];
}
---

<Layout meta={meta}>
  <h1 class="mb-8 leading-tight">Proyectos</h1>
  <ul class="grid gap-4">
    {
      projects.map(({ title, text, tags, link, icons }) => (
        <li>
          <a href={link} class="" target="_blank" rel="noreferrer noopener">
            <div class="rounded p-6 projects-bg general-border border-hover">
              <div class="flex items-baseline gap-2">
                <h4 class="mb-4 flex-1 font-medium">{title}</h4>
                {icons.map((ico) => (
                  <i class={`text-2xl ${ico}`} />
                ))}
              </div>
              <p class="mb-4">{text}</p>
              <ul class="flex flex-wrap gap-2">
                {tags.map((tag) => (
                  <li class="bg-gray-300 dark:bg-gray-600 py-1 px-2 rounded">
                    {tag}
                  </li>
                ))}
              </ul>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
