---
import Picture from '@/components/common/picture.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@/layouts/general.astro';
import {
  formatDate,
  readingTime,
  getLangFromSlug,
  getLanguageFromURL,
} from '@/utils';
import { getTranslate } from '@/i18n';

interface Props {
  entry: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const entries = await getCollection('blog');

  return entries.map((entry) => {
    const lang = getLangFromSlug(entry.id);

    return { params: { lang, slug: entry.slug }, props: { entry } };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const timeTobeRead = readingTime(entry.body);

const image = {
  src: `https://ik.imagekit.io/juansereina/tr:w-1300/web/${entry.data.image.src}`,
  alt: '',
};
const meta = {
  title: entry.data.title,
  description: entry.data.description,
  image,
  keywords: entry.data.keywords,
};

const lang = getLanguageFromURL(Astro.url.pathname);
const t = await getTranslate(lang);
---

<Layout meta={meta}>
  <header>
    <div class="mb-10 group w-max">
      <a
        href="https://twitter.com/Juansereina_"
        target="_blank"
        rel="noreferrer noopener"
        class="flex"
      >
        <Picture
          src="profile.jpg"
          alt="Foto de Juan Sebastian sonriendo"
          imgClass="w-14 rounded-full mr-2"
          trw={100}
        />

        <div>
          <p>Juan Sebastián Reina</p>
          <p class="text-sm group-hover:underline">@Juansereina_</p>
        </div>
      </a>
    </div>
    <h1 class="title mb-2">{entry.data.title}</h1>
    <small class="mb-4">
      <time class="capitalize" datetime={entry.data.publishedAt.toISOString()}>
        {formatDate(entry.data.publishedAt, lang)}
      </time>
      -
      {timeTobeRead}
      {t('min_read')}
    </small>
  </header>
  <main>
    <article class="post">
      <Content />
    </article>
  </main>
</Layout>

<style is:global>
  .title {
    @apply text-orange-500 dark:text-cyan-300;
  }

  .post picture img {
    @apply w-full lg:scale-110 my-6 md:my-8 lg:my-16;
  }

  .post h2,
  .post p,
  .post pre {
    @apply mb-6 md:mb-8;
  }

  .post p + h2,
  .post pre + h2 {
    @apply mt-8 md:mt-10;
  }

  .post > *:last-child {
    @apply m-0;
  }
</style>
