---
export interface Props {
  classes?: string;
  href: string;
  isActive?: boolean;
  rel?: string;
  target?: string;
  aria?: string;
  title?: string;
}
const { classes, href, target, rel, isActive, aria, title } = Astro.props;
---

<a
  class:list={[
    `group transition duration-200 ${classes || ''}`,
    { 'text-orange-400 dark:text-cyan-300': isActive },
  ]}
  href={href}
  target={target}
  rel={rel}
  aria-label={aria}
  title={title}
>
  <slot />
  <span
    class="block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-orange-400 dark:bg-cyan-300 -mt-1"
  >
  </span>
</a>
